extends layout

block content
  .select
    h4 Pick your background track
    ul
      li Dr. Dre - XXplosive
      li Dr. Dre - The Watcher

  button.record Record

  .actions
    button.playback Listen to Recording
    button.upload Upload to Soundcloud

  .console
