@import '_settings'

normalize-css()
base()

body
  padding: 50px

button:focus
  outline: none

.record
  button: green 20

.stop
  button: red 20

.actions
  display: none
  margin-top: 10px

.playback
  button: blue

.save
  button(orange, textColor: white)
  margin-left: 10px

.upload
  button: purple
  margin-left: 10px

.console
  background: #ECECEC
  padding: 20px
  margin-top: 10px
  border-radius: 3px
  border: 1px solid #ccc
  display: none
  
  &:before
    content: "Result: "
    bold()
  
  .success
    color: green
  
  .error
    color: red
